<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>도서 수정</title>
  </head>
  <body>
    <h2>도서 수정</h2>

    <form th:action="@{/book/update}" method="post" th:object="${bookVO}">
      <input type="hidden" th:field="*{bookNo}" />
      <div>
        <label>도서명: <input type="text" th:field="*{bookTitle}" /></label>
      </div>
      <div>
        <label>저자: <input type="text" th:field="*{bookAuthor}" /></label>
      </div>
      <div>
        <label>출판사: <input type="text" th:field="*{bookPublisher}" /></label>
      </div>
      <button type="submit">수정</button>
      <a th:href="@{/book/list}">취소</a>
    </form>
  </body>
</html>
