<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>도서 등록</title>
    <style>
      .form-group {
        margin-bottom: 10px;
      }
      .form-group label {
        display: inline-block;
        width: 80px;
      }
      .form-group input {
        width: 400px;
        padding: 5px;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <h2>도서 등록</h2>

    <form
      th:action="@{/admin/books/register}"
      method="post"
      th:object="${bookVO}"
    >
      <div class="form-group">
        <label>도서명:</label>
        <input type="text" th:field="*{bookTitle}" />
      </div>
      <div class="form-group">
        <label>저자:</label>
        <input type="text" th:field="*{bookAuthor}" />
      </div>
      <div class="form-group">
        <label>출판사:</label>
        <input type="text" th:field="*{bookPublisher}" />
      </div>
      <button type="submit">등록</button>
      <a th:href="@{/admin/books}">취소</a>
    </form>
  </body>
</html>
